/*
Error: File to import not found or unreadable: bootstrap/variables.
        on line 2 of resources/assets/sass/_bootstrap.scss
        from line 3 of resources/assets/sass/app.scss

1: // Using our own variables stylesheet
2: @import "_variables";
3: @import "_bootstrap";
4: 
5: span.error {
6:   color: #f00;
7: }

Backtrace:
resources/assets/sass/_bootstrap.scss:2
resources/assets/sass/app.scss:3
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/import_node.rb:67:in `import'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/import_node.rb:28:in `imported_file'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/import_node.rb:37:in `css_import?'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/stack.rb:79:in `with_base'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/stack.rb:115:in `with_frame'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/stack.rb:79:in `with_base'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:325:in `map'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/stack.rb:88:in `with_import'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/stack.rb:115:in `with_frame'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/stack.rb:88:in `with_import'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/stack.rb:79:in `with_base'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/stack.rb:115:in `with_frame'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/stack.rb:79:in `with_base'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:157:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/tree/root_node.rb:20:in `render'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/engine.rb:268:in `render'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/exec/sass_scss.rb:415:in `run'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/exec/sass_scss.rb:63:in `process_result'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/exec/base.rb:52:in `parse'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/../lib/sass/exec/base.rb:19:in `parse!'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.14/bin/sass:13
/opt/vagrant_ruby/bin/sass:23:in `load'
/opt/vagrant_ruby/bin/sass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap/variables.\A         on line 2 of resources/assets/sass/_bootstrap.scss\A         from line 3 of resources/assets/sass/app.scss\A \A 1: // Using our own variables stylesheet\A 2: @import \"_variables\";\A 3: @import \"_bootstrap\";\A 4: \A 5: span.error {\A 6:   color: #f00;\A 7: }"; }

/*# sourceMappingURL=app.css.map */